@charset "UTF-8";
/*
This file is used to contain all scss imports.
@use the entire folder instead of having to @import every file individually
*/
/*
This file is used to contain all abstracts imports.
Files inside this folder can contain abstract settings, helpers or functions. They have no direct output.
@forward is used instead of @import so the main styles.css can @use the entire folder instead of having to @import every file individually
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*
This file is used for variables that don't fit more naturally under any other category.
Consider this the "everything else" file.
*/
/*
This file is used to contain all base imports.
Files inside this folder can contain global styles used in the project.
@forward is used instead of @import so the main styles.css can @use the entire folder instead of having to @import every file individually
*/
body {
  margin: 0px;
}

/*
This file is used to contain all scss imports.
@use the entire folder instead of having to @import every file individually
*/
h6, h5, h4, h3, h2, h1, .rubrik {
  font-family: "Prompt", sans-serif;
  font-weight: 800;
  color: #efefef;
  text-transform: lowercase;
}

.brodtext {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  color: #efefef;
}

/*
This file is used to contain all component imports.
Files inside this folder should contain all styles relating to a reusable component.
@forward is used instead of @import so the main styles.css can @use the entire folder instead of having to @import every file individually
*/
/*
This file is used to contain all scss imports.
@use the entire folder instead of having to @import every file individually
*/
.button, .button:link, .button:visited {
  text-transform: lowercase;
  font-family: "Prompt", sans-serif;
  color: #efefef;
  font-weight: 800;
  font-size: 1.3rem;
  letter-spacing: 1px;
  padding: 0.7rem 3rem;
  display: inline-block;
  border-radius: 1rem;
  transition: all 0.2s;
  border-width: 3px;
}
.button:hover {
  transform: translateY(-1px);
}
.button:active {
  transform: translateY(1px);
}
.button--back {
  border-color: #efefef;
}
.button--back:hover {
  background-color: #efefef;
}
.button--back:active {
  border-color: #efefef;
  background-color: #efefef;
}
.button--orange {
  background-color: #ea652f;
  border-color: #ea652f;
}
.button--orange:hover {
  color: #efefef;
  box-shadow: 0 0 1rem #ea652f;
  background-color: #ea652f;
}
.button--pink {
  background-color: #e02e87;
}
.button--pink:hover {
  color: #efefef;
  box-shadow: 0 0 1rem #e02e87;
  background-color: #e02e87;
}
.button--green {
  background-color: #6bb239;
}
.button--green:hover {
  color: #efefef;
  box-shadow: 0 0 1rem #6bb239;
  background-color: #6bb239;
}
.button--blue {
  background-color: #36a4da;
}
.button--blue:hover {
  color: #efefef;
  box-shadow: 0 0 1rem #36a4da;
  background-color: #36a4da;
}

/*
This file is used to contain all scss imports.
@use the entire folder instead of having to @import every file individually
*/
/*
This file is used to contain all scss imports.
@use the entire folder instead of having to @import every file individually
*/
/*
This file is used to contain all scss imports.
@use the entire folder instead of having to @import every file individually
*/
.form__input {
  border-color: #36a4da;
}
.form__input:focus {
  border-color: #FCE383;
  filter: drop-shadow(0 0 0.5rem #36a4da);
}

.form__feedback {
  font-size: 0.8rem;
}
.form__feedback.valid-feedback {
  color: #198754;
}
.form__feedback.invalid-feedback {
  color: #dc3545;
}

.form-bg {
  border-radius: 10px;
}

/*
This file is used to contain all layout imports.
Files inside this folder can contain layouts used in the project.
@forward is used instead of @import so the main styles.css can @use the entire folder instead of having to @import every file individually
*/
/*
This file is used to contain all scss imports.
@use the entire folder instead of having to @import every file individually
*/
/*
This file is used to contain all scss imports.
@use the entire folder instead of having to @import every file individually
*/
/*
This file is used to contain all scss imports.
@use the entire folder instead of having to @import every file individually
*/
/*
This file is used to contain all scss imports.
@use the entire folder instead of having to @import every file individually
*/
/*
This file is used to contain all scss imports.
@use the entire folder instead of having to @import every file individually
*/
.hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, rgb(16, 17, 16) 0%, rgba(16, 17, 16, 0.5) 80%, rgba(16, 17, 16, 0.1) 100%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/*
This file is used to contain all page imports.
Files inside this folder can contain page-specific styles used in the project.
@forward is used instead of @import so the main styles.css can @use the entire folder instead of having to @import every file individually
*/
/*
This file is used to contain all scss imports.
@use the entire folder instead of having to @import every file individually
*/
/*
This file is used to contain all scss imports.
@use the entire folder instead of having to @import every file individually
*/
/*
This file is used to contain all scss imports.
@use the entire folder instead of having to @import every file individually
*/
/*
This file is used to contain all scss imports.
@use the entire folder instead of having to @import every file individually
*/
/*
This file is used to contain all scss imports.
@use the entire folder instead of having to @import every file individually
*/
.list-group-item {
  color: #efefef;
  background-color: #101110;
  border: none;
  font-size: 0.8rem;
  padding: 0.2rem;
}

.rubrik--larger {
  font-size: 2rem;
}

/*
This file is used to contain all scss imports.
@use the entire folder instead of having to @import every file individually
*/
/*
This file is used to contain all scss imports.
@use the entire folder instead of having to @import every file individually
*/
/*
This file is used to contain all scss imports.
@use the entire folder instead of having to @import every file individually
*/
div#toolTip ul {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
}
div#toolTip b {
  font-family: "Prompt", sans-serif;
  font-weight: 800;
  font-size: 1.2rem;
}

/*
This file is used to contain all theme imports.
Files inside this folder can contain site-wide themes used in the project.
@forward is used instead of @import so the main styles.css can @use the entire folder instead of having to @import every file individually
*/
/*
This file is used to contain all scss imports.
@use the entire folder instead of having to @import every file individually
*/
/*
This file is used for our default theme across the entire site.
*/
body {
  background-color: #101110;
  width: 100%;
  height: 100vh;
}

/*
This file is used to contain all utilities imports.
@forward is used instead of @import so the main styles.css can @use the entire folder instead of having to @import every file individually
*/
/*
This file is used to contain all vendor imports.
@forward is used instead of @import so the main styles.css can @use the entire folder instead of having to @import every file individually
*/
/*
This file is used to contain all Bootstrap imports.
*/
/* @import "../../node_modules/bootstrap/scss/bootstrap"; */
/* @import "../../node_modules/bootstrap/scss/functions"; */
/* @import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark"; */
/* @import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root"; */
/* @import "../../node_modules/bootstrap/scss/bootstrap-grid";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/helpers"; // importerar helpers så att vi kan stänga av dem
@import "../../node_modules/bootstrap/scss/carousel"; */
/*
This file is used to contain all scss imports.
@use the entire folder instead of having to @import every file individually
*/
section.content {
  flex: 1 1 80%;
  padding: 30px;
  position: relative;
}

.map-wrapper {
  width: 100%;
  height: 100%;
  margin: auto;
}

object#map {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 998;
}

div#toolTip {
  max-width: 300px;
  box-shadow: rgba(121, 121, 121, 0.274) 1.95px 1.95px 2.6px;
  position: absolute;
  transition: 0.2s ease-out;
  background-color: #ecf0f1;
  border-radius: 3px;
  z-index: 999;
  pointer-events: none;
}

div#toolTip ul {
  list-style: none;
  padding: 15px;
  margin: 0;
}

div#toolTip ul li {
  margin-bottom: 3px;
}

/*# sourceMappingURL=styles.css.map */
