// Fetches variables from the entire folder to use
@use "../abstracts" as *;


.list-group-item {
    color: $aska;
    background-color: rgba(255, 0, 0, 0);
    border: none;
    padding: .2rem;

}


.rubrik--larger {
    font-size: 2rem;

}

//motsvarar header från Udemy
/* .confirm-img {
    height: 100vh;
    background-image: linear-gradient(to top, rgb(40, 102, 40) 0%,rgba(95, 209, 95, 0.5) 80%,rgba(85, 129, 85, 0.1) 100%
      ),
      url(/img/stagedive.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
  
    &__text {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);

    }
  } */

  