// Fetches variables from the entire folder to use
@use "../abstracts" as *;

// Sätter bonfires bakgrund
.bonfire__bg {
    background-image: url(/img/bonfire.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 130vw;
    width: 95vw;

    // MQ för att bibehålla storlek vid förminskning
    @include respond(lg) {
        height: 140vw;
     }
}

// Justerar ner textbehållaren
.bonfire__main {
    padding-top: 68vw;

    @include respond(lg) {
        padding-top: 70vw;
     }
}

// MQ för tonplatta bakom text
.bonfire__panel {

    @include respond(lg) {
        background: rgba(16,17,16,0.90);
     }
}