// Fetches variables from the entire folder to use
@use "../abstracts" as *;

// Sätter bonfires bakgrund
.bonfire__bg {
    background-image: url(/img/bonfire.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 130vw;
    width: 95vw;

    // MQ för att bibehålla storlek vid förminskning
    @include respond(lg) {
        height: 145vw;
     }
    @include respond(md) {
        background-image: url(/img/skogsbrand_mob.webp);
        height: 185vw;
        width: 100vw;
     }
    @include respond(sm) {
        background-size: 100vw 180vw;
        height: 180vw;
        width: 100vw;
    }
    @include respond(sm) {
        background-image: url(/img/skogsbrand_li.webp);
        background-size: 100vw;
        height: 100vw;
        width: 100vw;
     }
}

// Justerar ner textbehållaren
.bonfire__main {
    padding-top: 68vw;

    @include respond(lg) {
        padding-top: 72vw;
     }
    @include respond(md) {
        padding-top: 80vw;
     }
    @include respond(sm) {
        visibility: hidden;
        padding-top: 0;
     }

}

// MQ för tonplatta bakom text
.bonfire__panel {

    @include respond(sm) {
        background: rgba(16,17,16,0.90);
     }
}


// tonplatta för områdeskarta
.map__bg {
    background-color: $kol;
}