// Fetches variables from the entire folder to use
@use "../abstracts" as *;

a {
  &:link,
  &:visited {
    text-decoration: none;
    color: $aska;
  }

  &:hover,
  &:active {
    text-shadow: 0 0 1rem $aska;
  }
}

.footer__icon {
    background-color: $kol;
    
          &:hover,
      &:active {
        text-shadow: 0 0 1rem $aska;
      }
  }