/*
This file is used for our default theme across the entire site.
*/

// Fetches variables from the entire folder to use
@use "../abstracts" as *;

body {
  background-color: $kol;
  width: 100%;
  height: 100vh;  // Temporär bara för att se att det funkar - skriv över/ändra/ta bort vid behov
}
