// Fetches variables from the entire folder to use
@use "../abstracts" as *;

h6, h5, h4, h3, h2, h1, .rubrik {
    font-family: $prompt;
    font-weight: 800;
    color: $aska;
    text-transform: lowercase;

    &--thin {
        font-weight: 300;
    }

    &--smaller {
        font-size: .8rem;
    }
}

// Sätta svart textfärg
.font-black {
    color: $kol;

    // MQ för att byta tillbaka till vit
    &--lg {
        @include respond(lg) {
            color: $aska;
        }
    }
    &--sm {
        @include respond(sm) {
            color: $aska;
        }
    }
}

p, .brodtext {
    font-family: $noto-sans;
    font-weight: 400;
    color: $aska;
    text-transform: none;
}

.font-pink {
    color: $rosa-pantern;
}
