// skogsbrand main colors
$mossa: #1a2118;
$skymning: #7e709b;
$kol: #101110;
$aska: #efefef;
$aperol: #ea652f;
$isbjorn: #36a4da;
$rosa-pantern: #e02e87;
$mojito: #6bb239;

// bonfire main colors
$bloody-mary: #C60E0E;
$hurricane: #F75414;
$painkiller: #FFA630;
$lemon-margarita: #FCE383;